<settings>
    <setting id="Animate" value="true" />
    <setting id="Debug" value="false" />
    <setting id="Enabled" value="true" />
    <setting id="Location1" value="Holon, Israel" />
    <setting id="Location1id" value="zmw:00000.19.40176" />
    <setting id="Location2" value="" />
    <setting id="Location2id" value="" />
    <setting id="Location3" value="" />
    <setting id="Location3id" value="" />
    <setting id="Location4" value="" />
    <setting id="Location4id" value="" />
    <setting id="Location5" value="" />
    <setting id="Location5id" value="" />
    <setting id="Weekend" value="1" />
    <setting id="Zoom" value="10" />
</settings>
