<settings>
	<setting id="epgPath" value="" />
	<setting id="epgTSOverride" value="false" />
	<setting id="m3uUrl" value="" />
	<setting id="epgUrl" value="https://copy.com/IzBkjGdaPq8w?download=1" />
	<setting id="logoPathType" value="0" />
	<setting id="epgTimeShift" value="0.000000" />
	<setting id="startNum" value="1" />
	<setting id="m3uCache" value="true" />
	<setting id="m3uPath" value="/home/xbmc/.xbmc/userdata/addon_data/plugin.video.israelive/TVLight/myM3U.m3u" />
	<setting id="epgPathType" value="1" />
	<setting id="m3uPathType" value="0" />
	<setting id="logoPath" value="/home/xbmc/.xbmc/userdata/addon_data/plugin.video.israelive/Channel Logos" />
	<setting id="sep1" value="" />
	<setting id="logoBaseUrl" value="" />
	<setting id="sep3" value="" />
	<setting id="epgCache" value="true" />
	<setting id="sep2" value="" />
</settings>
